---
layout: default
---

<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>

      <span class="post-meta">
        {% include category.html category=post.category %}
        {% include date.html date=post.date %}
        {% include comments_count.html url=post.url %}
      </span>
    </li>
  {% endfor %}
</ul>

<script>
  var disqus_shortname = 'fishingguru';

  (function() {
    var dsq = document.createElement('script'); dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/count.js';
    document.getElementsByTagName('head')[0].appendChild(dsq);
  })();
</script>
