<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.author }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          <li><a href="{{ site.youtube }}" rel="nofollow">Youtube</a></li>
          <li><a href="{{ site.vk }}" rel="nofollow">ВКонтакте</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">
          Если не указано иное, содержимое данного
          сайта доступно по лицензии <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.ru" rel="nofollow">CC BY-SA 4.0</a>
        </p>
      </div>
    </div>

  </div>

</footer>
