<h1>{{ include.heading }}</h1>

<ul class="post-list">
  {% for post in include.posts %}
    <li itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
      <h2 itemprop="headline"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>

      <span class="post-meta">
        {% include date.html date=post.date %}
        {% unless include.hide_category %}
          {% include category.html category=post.category %}
        {% endunless %}
        {% include tags.html tags=post.tags %}
      </span>
    </li>
  {% endfor %}
</ul>
